body {
    margin-top: 60px;
}
.nav-logo {
    height: 60px;
    max-height: 60px;
}

.big-logo {
    height: 250px;
    max-height: 250px;
}
.contact-details {
    font-size: 22px;
}
.contact-details-whatsapp {
    color: #49E20E;
}
.contact-details-whatsapp i{
    color: #00FF00;
}
.contact-details-email {
    color: #0000FF;
}
.contact-details a:hover, a:visited, a:focus {
    text-decoration: none;
}